body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primary-nav {
  background-color: rgb(9, 196, 134);
  display: flex; /* Align links horizontally */
  padding: 10px; /* Adjust padding according to your design */
}

.primary-nav > a {
  padding: 10px;
 
} 

.primary-nav > a + a {
  margin-left: 10px; /* Adjust margin for space between links */
}
